<nav class="menu">
  <ul class="menu__list menu__list--top">
    <li class="list__item list__item--logo">
      <h1 class="menu__logo">Lynk</h1>
    </li>

    <li class="list__item" routerLinkActive="active">
      <a class="item__link" routerLink="/">
        <span class="pi pi-home"></span> Home
      </a>
    </li>

    <li class="list__item" routerLinkActive="active">
      <a class="item__link" routerLink="/links">
        <span class="pi pi-link"></span> Links
      </a>
    </li>

    <li class="list__item" routerLinkActive="active">
      <a class="item__link" routerLink="/qrcode">
        <span class="pi pi-qrcode"></span> QR Code
      </a>
    </li>

    <li class="list__item" routerLinkActive="active">
      <a class="item__link" routerLink="/analytics">
        <span class="pi pi-chart-bar"></span> Analytics
      </a>
    </li>
  </ul>

  <ul class="menu__list menu__list--bottom">
    <li class="list__item" routerLinkActive="active">
      <a class="item__link" routerLink="/settings">
        <span class="pi pi-cog"></span> Definição
      </a>
    </li>

    <li class="list__item" routerLinkActive="active">
      <a class="item__link" routerLink="/logout">
        <span class="pi pi-sign-out"></span> Sair
      </a>
    </li>
  </ul>
</nav>
